name: Build
on: push
jobs:
  gradle:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        ports:
          - 5432:5432
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Connect to postgres
      env:
        POSTGRES_HOST: localhost
        POSTGRES_PORT: 5432 
    - uses: eskatos/gradle-command-action@v1
      with:
        arguments: build
